.logo img{
    border-radius: 400px !important  ;  
    width:  140px!important; 
    font: 20px!important;
    height: 150px!important;
    padding: 10px!important;
    position: sticky!important;
    padding: 10px !important;
}
body{
    background-color: #504a9e !important;

}
.icon h2{
font-size: 25px !important;
}
.col-md-6{
width: 200px !important;      
height: 734px !important ;
background-color: black!important;
position: sticky;
top: 0 !important;
}
.col-md-6 a {
color: white!important;
font-size: 30px!important;
padding: 10px;

}
.col-md-6 .icon a{
    color: white;
    padding: 5px;
 }
 .col-md-6 .icon h2{
    color: white;
 }
i{
    color: azure;
    font-size: 30px;
    padding: 5px;
}
.home img{
    font-size: 200px;
    width: 300px;
    height: 300px;
}
img{
    width: 100%;
}
h2{
    padding: 20px;
}
.col-md-10 a img{
    height: 735px;
    width: 1270px;

}